/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============== Base styles ================= */
body{
  color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper{
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}
/* ============== Header ================= */

.page-header{
  height: 66px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.page-header .logo{
  float: left;
  padding-top: 5px;
}

.page-header .main-nav{
  float: right;
}

.main-nav li{
  float: left;
  margin-left: 90px;
}
.main-nav li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 66px;
}

/* ============== MAIN ================= */
/* ============== BANNER ================= */
.banner{
  height: 612px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  padding-top: 230px;
}

.banner-block{
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
 h1{
   text-transform: uppercase;
   margin: 25px 0;
 }

.subtitle{
  font-size: 21px;
  font-weight: 300;
}
.learn-more{
  display: inline-block;
  padding: 20px 30px;
  color: inherit;
  text-transform: uppercase;
  background: tomato;
  font-size: 14px;
  text-decoration: none;
  width: 166px;
  text-align: center;
}
